body{
    background-color: #111;
    color: white;
}

h1{
    color: #00bfff;
}

.navbar{
    box-shadow: 0px 0px 10px black;
}
.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.btn{
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}
